In [3]:
import pandas as pd

In [4]:
data_1 = pd.read_csv('../project_dataset/extract - cash request - data analyst.csv')
df_cash_request = data_1.copy()
df_cash_request.sample(10)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
12183,6843,100.0,money_back,2020-07-07 05:02:59.828113+00,2020-12-18 13:09:18.900125+00,2910.0,2020-07-07 09:49:28.006787+00,NaN,2020-07-28 22:00:00+00,2020-07-08,2020-07-29 22:00:00+00,regular,NaN,NaN,NaN,NaN
2046,10737,100.0,rejected,2020-08-03 20:58:49.252946+00,2020-08-04 10:09:27.912253+00,8857.0,2020-08-04 10:09:27.909542+00,NaN,2020-08-29 22:00:00+00,NaN,NaN,regular,2020-08-10 20:58:49.252523+00,NaN,NaN,NaN
16818,17081,100.0,money_back,2020-09-21 11:23:17.410854+00,2020-12-18 13:11:03.15254+00,45539.0,2020-09-21 12:24:37.05348+00,NaN,2020-10-06 10:00:00+00,2020-09-21,2020-10-11 22:00:00+00,instant,2020-09-28 11:23:17.385218+00,NaN,NaN,NaN
629,1937,100.0,rejected,2020-05-16 21:11:36.101803+00,2020-05-17 17:28:04.590122+00,5331.0,2020-05-17 17:28:04.583919+00,NaN,2020-05-30 21:11:36.764+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3013,5969,100.0,rejected,2020-06-30 13:59:36.008392+00,2020-06-30 16:47:24.936337+00,21589.0,2020-06-30 16:47:24.932425+00,NaN,2020-08-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
20286,22660,100.0,money_back,2020-10-21 06:48:54.221474+00,2020-12-18 13:12:28.272812+00,81500.0,NaN,NaN,2020-11-28 11:00:00+00,2020-10-22,2020-11-27 13:54:59.493705+00,instant,2020-10-21 06:49:15.994938+00,NaN,NaN,NaN
13604,13789,100.0,money_back,2020-08-25 01:43:02.425961+00,2020-12-18 13:09:51.63252+00,23971.0,NaN,NaN,2020-09-25 22:00:00+00,2020-08-25,2020-09-29 22:00:00+00,instant,2020-09-01 01:43:02.369349+00,NaN,NaN,NaN
8076,950,100.0,money_back,2020-03-19 08:41:20.04533+00,2020-11-04 12:55:59.634572+00,1420.0,2020-03-19 10:31:32.759401+00,NaN,2020-05-10 22:00:00+00,2020-03-20,2020-05-19 20:07:25.744361+00,regular,NaN,NaN,NaN,NaN
11504,4611,100.0,money_back,2020-06-22 10:43:10.802929+00,2020-12-18 13:09:07.444365+00,20478.0,2020-06-22 18:33:21.681565+00,NaN,2020-07-07 22:00:00+00,2020-06-24,2020-07-31 08:42:13.096022+00,regular,NaN,completed,2020-07-15 23:19:12.199456+00,2020-07-31 08:42:13.115939+00
11156,11257,100.0,money_back,2020-08-07 04:33:29.703023+00,2020-12-18 13:08:57.401653+00,17061.0,2020-08-07 09:38:19.456905+00,NaN,2020-09-05 04:34:28.843+00,2020-08-07,2020-09-05 19:42:51.571904+00,instant,2020-08-14 04:33:29.702527+00,NaN,NaN,NaN

In [5]:
data_2 = pd.read_csv('../project_dataset/extract - fees - data analyst - .csv')
df_fees = data_2.copy()
df_fees.sample(10)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
6195,13338,21007.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 21007,2020-10-14 09:22:04.524796+00,2020-10-14 09:22:04.524818+00,2020-11-07 05:17:35.027609+00,NaN,NaN,after
9625,18467,23597.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 23597,2020-10-27 10:33:57.29713+00,2020-10-27 10:33:57.297156+00,NaN,2020-11-07 23:51:00+00,2020-11-19 23:00:00+00,before
18422,12801,20543.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20543,2020-10-12 08:10:10.496232+00,2020-10-13 14:25:18.799143+00,2020-11-10 10:12:58.858131+00,NaN,NaN,after
9425,17616,22490.0,postpone,accepted,NaN,5.0,Postpone Cash Request 22490,2020-10-26 01:48:08.98072+00,2020-10-26 01:48:14.026734+00,2020-10-26 01:48:13.314225+00,2020-10-27 22:00:00+00,2020-10-30 11:00:00+00,before
18774,14639,16543.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-10-18 22:25:43.347924+00,2020-10-18 22:25:43.347952+00,2020-11-09 14:57:00.597138+00,NaN,NaN,after
18938,18398,25009.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25009,2020-10-27 09:10:03.005166+00,2020-10-27 09:10:03.005193+00,2020-11-09 19:23:34.994037+00,NaN,NaN,after
18268,9578,12225.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 12225,2020-09-27 16:51:49.689195+00,2020-10-13 14:25:18.531728+00,NaN,2020-09-25 22:00:00+00,2020-10-07 22:00:00+00,after
13313,7030,15444.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 15444,2020-09-10 09:02:35.591083+00,2020-10-13 14:25:10.121926+00,2020-10-06 19:38:17.470235+00,NaN,NaN,after
1535,284,2843.0,postpone,accepted,NaN,5.0,Postpone Cash Request 2843,2020-06-18 11:22:46.189523+00,2020-10-13 14:25:01.380772+00,NaN,2020-07-05 22:00:00+00,2020-07-20 22:00:00+00,before
5729,19616,25992.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25992,2020-10-29 09:21:48.275575+00,2020-10-29 09:21:48.275597+00,2020-11-10 20:05:32.422652+00,NaN,NaN,after

The following is a copy of my code from prework for EDA:

In [6]:
print("Data Frame analysis for 'df_cash_request'")
print(f"Total amount of records in this data set: {df_cash_request.shape[0]} \n")
print(f"The data set contains {df_cash_request.shape[1]} columns:")
column_names_list = df_cash_request.columns.to_list()
print(f"{column_names_list}\n")

analysis_dict = {}
analysis_dict_row_template = {
    'unique_values': '',
    'unique_values_count': '',
    # data type analysis
    'data_type': '',
    'is_numerical': '',
    'is_categorical': '',
    'is_nominal': '',
    'is_ordinal': '',
    'is_continuous': '',
    'is_discrete': '',
    # discriptive stats
    'mean': '',
    'median': '',
    'mode': '',
    'standard deviation': '',
    'dispersion range': '',
    'frequency counts': '',
}

for column_name in df_cash_request:
    # DEBUG
    # print(f"Analysing data frame column: {column_name}")
    column = df_cash_request[column_name]

    # new empty entry in the dictionary with a fresh copy
    analysis_dict_row = analysis_dict_row_template.copy()

    analysis_dict_row['unique_values_count'] = len(column.unique())

    if analysis_dict_row['unique_values_count'] < 10:
        analysis_dict_row['unique_values'] = column.unique()
        print(f"Unique values in {column_name} are:\n {column.unique()}")

     # classify numbers from other
    if df_cash_request[column_name].dtype == 'int64':
        analysis_dict_row['data_type'] = 'integer'
        analysis_dict_row['is_numerical'] = True
    else:
        # point of improvement. dtype returns Object
        analysis_dict_row['data_type'] = 'not integer'
        analysis_dict_row['is_numerical'] = False

    analysis_dict_row['is_categorical'] = not analysis_dict_row['is_numerical']
    
    # only gender column contains nominal values
    analysis_dict_row['is_nominal'] = column_name == 'gender' or column_name == 'race/ethnicity'
    # all other text fields are ordinal
    analysis_dict_row['is_ordinal'] = analysis_dict_row['is_categorical'] and not analysis_dict_row['is_nominal'] 

    # all columns with scores contain continuous values
    analysis_dict_row['is_continuous'] = 'score' in column_name

    # set the other nominal as discrete if any
    analysis_dict_row['is_discrete'] = analysis_dict_row['is_nominal'] and not analysis_dict_row['is_continuous']
    

    if analysis_dict_row['is_numerical']:
        analysis_dict_row['mean'] = column.mean()
        analysis_dict_row['median'] = column.median()
        analysis_dict_row['mode'] = column.mode().tolist()
        analysis_dict_row['standard deviation'] = column.std()
        analysis_dict_row['dispersion range'] = column.max() - column.min()
    elif analysis_dict_row['is_categorical']:
        analysis_dict_row['frequency counts'] = column.value_counts().to_dict()
    else:
        raise TypeError(f"Failed to classify data of type {analysis_dict_row['data_type']}.")
    
    # store the result record in the report dictionary
    analysis_dict[column_name] = analysis_dict_row.copy()

separator = "----------------------------\n"
print(separator)

df_cash_request_report = pd.DataFrame(analysis_dict).transpose()
df_cash_request_report.head(20)
df_cash_request.to_pickle('df_cash_request.pkl')
df_cash_request_report.to_pickle('df_cash_request_report.pkl')

print("Data frame column types analysis report.")

print(separator)
print("The numerical variables are presented in columns:")
numerical_columns = df_cash_request_report[df_cash_request_report['is_numerical'] == True].index.tolist()
print(numerical_columns)
print("The categorical variables are presented in columns:")
categorical_columns = df_cash_request_report[df_cash_request_report['is_categorical'] == True].index.tolist()
print(categorical_columns)
print(f"Columns with nominal values:")
nominal_columns = df_cash_request_report[df_cash_request_report['is_nominal'] == True].index.tolist()
print(nominal_columns)
print(f"Columns with ordinal values:")
ordinal_columns = df_cash_request_report[df_cash_request_report['is_ordinal'] == True].index.tolist()
print(ordinal_columns)

print(separator)
print("Descriptive statistics for numerical data:")
column_names_list = ['mean', 'median', 'mode', 'standard deviation', 'dispersion range']
stats_for_numerical_columns = df_cash_request_report[df_cash_request_report['is_numerical'] == True][column_names_list]
print(stats_for_numerical_columns)
print(separator)

print("Descriptive statistics for categorical data:")
categorical_columns = df_cash_request_report[df_cash_request_report['is_categorical'] == True]['frequency counts']

for column, freq_dict in categorical_columns.items():
    print(f"\nFrequency counts for {column}:")
    freq_df = pd.DataFrame(list(freq_dict.items()), columns=['Category', 'Count'])
    print(freq_df)

Data Frame analysis for 'df_cash_request'
Total amount of records in this data set: 23970

The data set contains 16 columns:
['id', 'amount', 'status', 'created_at', 'updated_at', 'user_id', 'moderated_at', 'deleted_account_id', 'reimbursement_date', 'cash_request_received_date', 'money_back_date', 'transfer_type', 'send_at', 'recovery_status', 'reco_creation', 'reco_last_update']

Unique values in status are:
 ['rejected' 'money_back' 'canceled' 'active' 'direct_debit_rejected'
 'transaction_declined' 'direct_debit_sent']
Unique values in transfer_type are:
 ['regular' 'instant']
Unique values in recovery_status are:
 [nan 'completed' 'pending' 'pending_direct_debit' 'cancelled']
----------------------------

Data frame column types analysis report.
----------------------------

The numerical variables are presented in columns:
['id']
The categorical variables are presented in columns:
['amount', 'status', 'created_at', 'updated_at', 'user_id', 'moderated_at', 'deleted_account_id', 'reimbursement_date', 'cash_request_received_date', 'money_back_date', 'transfer_type', 'send_at', 'recovery_status', 'reco_creation', 'reco_last_update']
Columns with nominal values:
[]
Columns with ordinal values:
['amount', 'status', 'created_at', 'updated_at', 'user_id', 'moderated_at', 'deleted_account_id', 'reimbursement_date', 'cash_request_received_date', 'money_back_date', 'transfer_type', 'send_at', 'recovery_status', 'reco_creation', 'reco_last_update']
----------------------------

Descriptive statistics for numerical data:
            mean   median                                               mode  \
id  13910.966124  14270.5  [3, 4, 5, 6, 7, 9, 10, 11, 13, 28, 34, 47, 48,...

   standard deviation dispersion range
id        7788.117214            27007
----------------------------

Descriptive statistics for categorical data:

Frequency counts for amount:
    Category  Count
0      100.0  16094
1       50.0   5304
2       25.0   1276
3       80.0    267
4       60.0    190
5       70.0    151
6       20.0    132
7       30.0    114
8       40.0    100
9       90.0     91
10      10.0     57
11     200.0     25
12      95.0     21
13       1.0     19
14      75.0     18
15      45.0     15
16      55.0     14
17      65.0     12
18      99.0     12
19      15.0     10
20      85.0      9
21      35.0      9
22       5.0      6
23       2.0      3
24      98.0      2
25      28.0      2
26      22.0      2
27      11.0      2
28      49.0      1
29      36.0      1
30      54.0      1
31      39.0      1
32      97.0      1
33       8.0      1
34      86.0      1
35      94.0      1
36      67.0      1
37      72.0      1
38      31.0      1
39     150.0      1
40      24.0      1

Frequency counts for status:
                Category  Count
0             money_back  16397
1               rejected   6568
2  direct_debit_rejected    831
3                 active     59
4   transaction_declined     48
5      direct_debit_sent     34
6               canceled     33

Frequency counts for created_at:
                            Category  Count
0      2019-12-10 19:05:21.596873+00      1
1      2020-09-09 11:06:31.382449+00      1
2      2020-10-07 05:56:54.442506+00      1
3      2020-09-09 12:32:29.661278+00      1
4      2020-09-09 11:42:31.956338+00      1
...                              ...    ...
23965   2020-04-15 09:42:07.85115+00      1
23966  2020-01-28 08:44:55.964552+00      1
23967  2020-03-26 08:46:29.025704+00      1
23968  2019-12-15 13:41:52.064247+00      1
23969  2020-10-08 14:16:52.155661+00      1

[23970 rows x 2 columns]

Frequency counts for updated_at:
                            Category  Count
0       2019-12-11 16:47:42.40783+00      1
1      2020-12-18 13:10:44.348964+00      1
2      2020-12-18 13:10:44.448561+00      1
3      2020-12-18 13:10:44.439598+00      1
4      2020-12-18 13:10:44.429451+00      1
...                              ...    ...
23965  2020-12-22 22:08:45.274508+00      1
23966  2020-11-04 12:55:30.078009+00      1
23967  2020-11-04 12:55:58.116109+00      1
23968  2020-11-04 12:55:20.220846+00      1
23969  2021-01-05 15:45:52.645536+00      1

[23970 rows x 2 columns]

Frequency counts for user_id:
       Category  Count
0        3377.0     19
1        2142.0     18
2       13851.0     18
3        2530.0     17
4        1159.0     17
...         ...    ...
10793    4938.0      1
10794   79289.0      1
10795   74036.0      1
10796   57112.0      1
10797   64517.0      1

[10798 rows x 2 columns]

Frequency counts for moderated_at:
                            Category  Count
0      2019-12-11 16:47:42.405646+00      1
1      2020-07-10 12:43:27.336286+00      1
2      2020-07-08 17:55:11.030979+00      1
3      2020-07-02 12:53:57.219204+00      1
4      2020-07-17 09:13:58.632576+00      1
...                              ...    ...
16030  2020-09-16 18:07:53.044324+00      1
16031  2020-08-21 08:26:07.838744+00      1
16032  2020-09-24 14:42:24.757221+00      1
16033  2020-08-21 08:27:03.943839+00      1
16034  2020-09-19 15:37:54.670099+00      1

[16035 rows x 2 columns]

Frequency counts for deleted_account_id:
      Category  Count
0       6334.0     19
1       3767.0     16
2      11444.0     16
3       4047.0     15
4      24168.0     13
...        ...    ...
1136    5240.0      1
1137    4216.0      1
1138    2009.0      1
1139    5480.0      1
1140   30367.0      1

[1141 rows x 2 columns]

Frequency counts for reimbursement_date:
                           Category  Count
0            2020-11-05 22:00:00+00   1106
1            2020-10-05 22:00:00+00    761
2            2020-08-05 22:00:00+00    732
3            2020-09-07 22:00:00+00    554
4            2020-11-02 22:00:00+00    432
...                             ...    ...
4084  2020-09-11 04:52:20.778314+00      1
4085  2020-09-11 02:36:34.771596+00      1
4086  2020-09-11 06:33:06.050292+00      1
4087  2020-09-11 07:17:08.435449+00      1
4088         2021-02-05 22:00:00+00      1

[4089 rows x 2 columns]

Frequency counts for cash_request_received_date:
       Category  Count
0    2020-10-27    716
1    2020-10-28    482
2    2020-10-30    435
3    2020-10-20    355
4    2020-11-03    345
..          ...    ...
307  2020-03-15      1
308  2020-01-20      1
309  2019-12-10      1
310  2020-01-23      1
311  2020-01-24      1

[312 rows x 2 columns]

Frequency counts for money_back_date:
                            Category  Count
0             2020-08-04 22:00:00+00    364
1             2020-08-05 22:00:00+00    295
2             2020-07-29 22:00:00+00    244
3             2020-07-07 22:00:00+00    180
4             2020-09-01 22:00:00+00    134
...                              ...    ...
12216  2020-09-26 19:41:04.707858+00      1
12217  2020-09-03 18:59:16.868528+00      1
12218  2020-09-04 19:34:13.744825+00      1
12219  2020-06-30 08:44:45.520733+00      1
12220  2021-02-05 13:14:19.689906+00      1

[12221 rows x 2 columns]

Frequency counts for transfer_type:
  Category  Count
0  instant  13882
1  regular  10088

Frequency counts for send_at:
                            Category  Count
0      2020-10-23 15:21:26.878525+00      1
1      2020-10-15 09:12:29.887167+00      1
2      2020-10-15 09:26:23.065397+00      1
3      2020-10-08 08:51:51.386371+00      1
4      2020-10-08 07:52:04.638453+00      1
...                              ...    ...
16636  2020-08-25 15:29:56.343502+00      1
16637  2020-07-29 05:57:05.332148+00      1
16638  2020-08-09 12:28:20.509031+00      1
16639  2020-10-23 10:06:36.351884+00      1
16640  2020-10-08 14:17:04.526139+00      1

[16641 rows x 2 columns]

Frequency counts for recovery_status:
               Category  Count
0             completed   2468
1               pending    845
2  pending_direct_debit     16
3             cancelled      1

Frequency counts for reco_creation:
                           Category  Count
0     2020-06-12 22:27:04.837525+00      1
1     2020-11-11 23:01:30.183037+00      1
2     2020-09-22 22:34:09.112102+00      1
3     2020-09-22 22:23:31.824006+00      1
4     2020-09-22 22:41:35.956212+00      1
...                             ...    ...
3325  2020-11-15 22:44:45.510708+00      1
3326  2020-11-15 22:22:58.049274+00      1
3327  2020-11-15 22:22:21.073658+00      1
3328  2020-11-15 22:22:32.824054+00      1
3329  2020-11-12 23:20:41.928788+00      1

[3330 rows x 2 columns]

Frequency counts for reco_last_update:
                           Category  Count
0     2020-07-06 03:36:03.030904+00      1
1     2020-11-11 23:01:33.548034+00      1
2     2020-10-03 04:45:39.909619+00      1
3     2020-09-22 22:23:35.480525+00      1
4     2020-10-03 07:48:36.457294+00      1
...                             ...    ...
3325    2021-01-05 02:19:50.1819+00      1
3326  2021-02-05 18:01:08.245275+00      1
3327    2020-11-15 22:22:24.9354+00      1
3328  2020-11-15 22:22:36.062846+00      1
3329  2020-12-01 13:26:53.815504+00      1

[3330 rows x 2 columns]

### TODO:
- Add logger for debuging outputs
- Modify the code to add tricks that Isi showed us on Week 2 and remove useless parts
- Analyse df_fees in the same way, but specifically for that data frame
- extract the park for saving and reading from a pickle file to use daily or on demand

# Data Cleanup

In [7]:
df_cash_request.shape

(23970, 16)

In [8]:
df_cash_request.isna().sum()

id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [9]:
df_cash_request.notna().sum()

id                            23970
amount                        23970
status                        23970
created_at                    23970
updated_at                    23970
user_id                       21867
moderated_at                  16035
deleted_account_id             2104
reimbursement_date            23970
cash_request_received_date    16289
money_back_date               16543
transfer_type                 23970
send_at                       16641
recovery_status                3330
reco_creation                  3330
reco_last_update               3330
dtype: int64

In [14]:
# new Dataframe only with the customers that had recovery incidents 
# --> reduce null values from recovery_status, reco_creation, reco_last_update in the df_cash_request DataFrames
df_recovery_incidents = df_cash_request[df_cash_request["recovery_status"].notnull()]

# In this case we are using recovery_status column to create the new one (recovery_incident)
# but any of these three columns(recovery_status, reco_creation, reco_last_update) could be used for that
df_cash_request["recovery_incident"] = ~df_cash_request["reco_creation"].isna()


# Drop the columns: recovery_status, reco_creation, reco_last_update
# As they contain to many NaN values
# we want them out to clean our DataFrame
df_cash_request.drop(columns= ["recovery_status","reco_creation","reco_last_update"], inplace=True) 
df_cash_request

# Now we have two DataFrames: 
# df_cash_request with the new column recovery_incident wich tell us if there was any recovery incident (True), or not (False)
# and another DataFrame df_recovery_incidents with the information of these recovery incidents

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_incident
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,False
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,False
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,False
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,False
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,False
23966,25243,50.0,money_back,2020-10-27 14:41:25.73491+00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,True
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,False
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,False
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,False

In [20]:
# chechking for duplicates
print(df_cash_request.duplicated().sum())

0

In [21]:
# Checking for empty spaces
df_cash_request.eq(" ").sum()

id                            0
amount                        0
status                        0
created_at                    0
updated_at                    0
user_id                       0
moderated_at                  0
deleted_account_id            0
reimbursement_date            0
cash_request_received_date    0
money_back_date               0
transfer_type                 0
send_at                       0
recovery_incident             0
dtype: int64

In [37]:
df_cash_request.columns

Index(['id', 'amount', 'status', 'created_at', 'updated_at', 'user_id',
       'moderated_at', 'deleted_account_id', 'reimbursement_date',
       'cash_request_received_date', 'money_back_date', 'transfer_type',
       'send_at', 'recovery_incident'],
      dtype='object')

In [39]:
df_cash_request[["id", "user_id", "deleted_account_id"]]

          id  user_id  deleted_account_id
0          5    804.0                 NaN
1         70    231.0                 NaN
2          7    191.0                 NaN
3         10    761.0                 NaN
4       1594   7686.0                 NaN
...      ...      ...                 ...
23965  20616  13681.0                 NaN
23966  25243      NaN             30367.0
23967  22357  82122.0                 NaN
23968  20256  64517.0                 NaN
23969  19886  44867.0                 NaN

[23970 rows x 3 columns]

In [42]:
# Merge "user_id" and "deleted_account_id" to have no NaN values
df_cash_request["user_id_merged"] = df_cash_request["user_id"].fillna(df_cash_request["deleted_account_id"])
df_cash_request.drop(columns= ["user_id", "deleted_account_id"], inplace=True) 
df_cash_request.sample(10)

,id,amount,status,created_at,updated_at,moderated_at,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_incident,user_id_merged
11616,9684,100.0,money_back,2020-07-25 13:22:12.410983+00,2020-12-18 13:09:09.981682+00,2020-07-25 18:25:10.99266+00,2020-08-05 22:00:00+00,2020-07-28,2020-08-05 22:00:00+00,regular,2020-08-01 13:22:12.410307+00,False,17524.0
20836,24999,100.0,money_back,2020-10-27 08:40:49.836234+00,2020-12-18 13:12:39.986593+00,NaN,2020-11-06 11:00:00+00,2020-10-28,2020-11-06 19:38:40.360837+00,instant,2020-10-27 08:41:04.322137+00,False,85934.0
43,1629,100.0,money_back,2020-05-08 11:02:44.881355+00,2020-06-10 08:20:10.399242+00,2020-05-08 11:07:03.575647+00,2020-06-03 22:00:00+00,2020-05-12,2020-06-10 08:20:10.398977+00,regular,NaN,False,9068.0
6024,19039,100.0,rejected,2020-10-03 10:41:51.783336+00,2020-10-03 18:04:42.017832+00,2020-10-03 18:04:42.01125+00,2020-10-13 22:00:00+00,NaN,NaN,instant,2020-10-10 10:41:51.753606+00,False,60180.0
21656,11207,100.0,money_back,2020-08-06 18:53:04.195107+00,2020-12-18 13:13:01.835218+00,NaN,2020-09-02 22:00:00+00,2020-08-17,2020-09-02 22:00:00+00,regular,2020-08-13 18:53:04.194314+00,False,35340.0
4592,14623,100.0,rejected,2020-09-05 06:40:16.221422+00,2020-09-05 06:43:43.029042+00,2020-09-05 06:43:43.013384+00,2020-10-02 22:00:00+00,NaN,NaN,regular,2020-09-12 06:40:16.150848+00,False,33099.0
16618,16763,50.0,money_back,2020-09-18 14:10:20.387592+00,2020-12-18 13:10:58.49673+00,2020-09-18 16:11:08.786676+00,2020-10-08 22:00:00+00,2020-09-22,2020-10-09 19:37:04.796099+00,instant,2020-09-25 14:10:20.334123+00,False,43144.0
14758,23356,50.0,money_back,2020-10-23 09:54:09.83252+00,2020-12-18 13:10:18.468409+00,NaN,2020-11-03 22:00:00+00,2020-10-24,2020-11-03 19:32:43.0616+00,instant,2020-10-23 09:54:21.102096+00,False,80959.0
16302,15753,50.0,money_back,2020-09-11 18:12:35.822574+00,2020-12-18 13:10:50.097955+00,2020-09-12 08:06:14.759687+00,2020-10-05 22:00:00+00,2020-09-15,2020-10-06 19:40:59.397568+00,instant,2020-09-18 18:12:35.774996+00,False,28716.0
7387,17664,50.0,rejected,2020-09-24 13:35:17.089152+00,2020-09-24 14:51:25.747236+00,2020-09-24 14:51:25.739223+00,2020-10-11 13:35:17.06315+00,NaN,NaN,instant,2020-10-01 13:35:17.06315+00,False,22205.0

In [ ]:
# We keep everything else with NaN
df_cash_request.isna().sum()

id                               0
amount                           0
status                           0
created_at                       0
updated_at                       0
moderated_at                  7935
reimbursement_date               0
cash_request_received_date    7681
money_back_date               7427
transfer_type                    0
send_at                       7329
recovery_incident                0
user_id_merged                   0
dtype: int64

In [46]:
df_fees.shape

(21061, 13)

In [45]:
df_fees.notna().sum()

id                 21061
cash_request_id    21057
type               21061
status             21061
category            2196
total_amount       21061
reason             21061
created_at         21061
updated_at         21061
paid_at            15531
from_date           7766
to_date             7766
charge_moment      21061
dtype: int64

In [44]:
df_fees.isna().sum()

id                     0
cash_request_id        4
type                   0
status                 0
category           18865
total_amount           0
reason                 0
created_at             0
updated_at             0
paid_at             5530
from_date          13295
to_date            13295
charge_moment          0
dtype: int64

In [ ]:
#  save information about cases with pospone fees 
# to a new data frame `df_postpone_fees`
df_postpone_fees = df_fees[df_fees["from_date"].notnull()]
df_postpone_fees

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
9,15431,22106.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 22106,2020-10-21 08:48:50.696961+00,2020-10-21 08:48:50.696991+00,NaN,2020-11-04 22:00:00+00,2020-11-05 11:00:00+00,before
11,15434,21897.0,postpone,accepted,NaN,5.0,Postpone Cash Request 21897,2020-10-21 09:00:21.619473+00,2020-10-21 09:00:21.619504+00,2020-10-21 09:00:25.398771+00,2020-10-26 22:00:00+00,2020-10-30 23:00:00+00,before
12,20199,25490.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 25490,2020-10-30 16:51:49.45659+00,2020-10-30 16:51:49.456616+00,NaN,2020-11-06 22:00:00+00,2020-11-12 11:00:00+00,before
17,13949,19876.0,postpone,accepted,NaN,5.0,Postpone Cash Request 19876,2020-10-16 08:34:39.39839+00,2020-10-16 08:34:39.398412+00,2020-10-16 08:34:43.529531+00,2020-10-23 13:25:59.902+00,2020-11-03 23:00:00+00,before
19,19761,24564.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 24564,2020-10-29 14:00:30.956061+00,2020-10-29 14:00:30.956085+00,NaN,2020-10-29 23:00:00+00,2020-10-30 23:00:00+00,before
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20593,411,3891.0,postpone,accepted,NaN,5.0,Postpone Cash Request 3891,2020-06-22 08:24:47.439636+00,2021-01-20 14:46:09.980392+00,NaN,2020-07-03 22:00:00+00,2020-07-18 22:00:00+00,before
20597,1022,2717.0,postpone,accepted,NaN,5.0,Postpone Cash Request 2717,2020-07-04 10:05:48.68153+00,2021-01-20 16:59:23.745182+00,2020-07-04 10:05:52+00,2020-07-07 22:00:00+00,2020-08-04 22:00:00+00,before
20605,681,3716.0,postpone,accepted,NaN,5.0,Postpone Cash Request 3716,2020-06-26 15:13:10.276716+00,2021-01-21 15:47:52.053382+00,2020-06-26 15:13:45+00,2020-07-20 22:00:00+00,2020-08-04 22:00:00+00,before
20607,4561,10801.0,postpone,accepted,NaN,5.0,Postpone Cash Request 10801,2020-08-21 11:28:54.470364+00,2021-01-21 16:54:46.995586+00,2020-08-21 11:29:00+00,2020-09-08 10:00:00+00,2020-10-07 10:00:00+00,before
21013,832,4112.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 4112,2020-06-30 12:23:06.52225+00,2021-02-08 16:09:22.195973+00,2020-06-30 12:23:06+00,2020-07-06 22:00:00+00,2020-08-06 12:22:58+00,before

In [ ]:
# drop columns "from_date","to_date" because of lots of NaN
# keep the information that those were postpone fees cases
df_fees["postpone_fees"] = df_fees["from_date"].notna()
df_fees.drop(columns= ["from_date","to_date"], inplace=True) 
df_fees

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,charge_moment,postpone_fees
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,after,False
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,after,False
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,after,False
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,after,False
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,after,False
...,...,...,...,...,...,...,...,...,...,...,...,...
21056,12372,20262.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 20262,2020-10-10 06:42:22.822743+00,2020-10-13 14:25:04.18049+00,2020-11-17 05:14:00.080854+00,after,False
21057,20768,26764.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 26764,2020-10-31 15:24:18.680694+00,2020-10-31 15:24:18.680715+00,2020-12-16 07:10:54.697639+00,after,False
21058,18779,25331.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 25331,2020-10-27 17:28:51.749177+00,2020-10-27 17:28:51.7492+00,2020-11-18 04:35:42.915511+00,after,False
21059,16542,23628.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 23628,2020-10-23 16:27:52.047457+00,2020-10-23 16:27:52.047486+00,2020-12-18 05:18:01.465317+00,after,False
21060,13301,20982.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20982,2020-10-14 07:12:43.958192+00,2020-10-14 07:12:43.958219+00,2021-02-12 13:02:46.95022+00,after,False

In [ ]:
# category column describes the reason of the incident fee.
# save this informstion separately, keep a flag that thewre was an incident
df_fees_incident = df_fees[df_fees["category"].notnull()]
df_fees_incident

In [ ]:
df_fees["is_incident"] = df_fees["category"].notna()
df_fees.drop(columns= ["category"], inplace=True) 
df_fees